/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  color: #383838;
}

/* Add more styles as needed */

html, body {
  height: 100%;
}

/* Lora font */
@import url(https://fonts.googleapis.com/css?family=Lora);
/* Lato font */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
/* Styles */
#left-field {
  padding: 20px 0 0 20px;
}

h1 {
  font-family: "Lora-Bold";
  font-size: 2rem;
  color: #383838;
}
.blockquote {
  font-family: Lora;
  font-size: .85rem;
  color: #fff;
  text-align:left;
}


}


/* Mobile to Tablet (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 800px) {
/* Styles */
#left-field {
  padding: 20px 0 0 20px;
}

h1 {
  font-family: "Lora-Bold";
  font-size: 4rem;
  max-width: 60%;
  color: #fff;
}

h2 {
  margin-top: -.5rem;
  font-family: "Lato-Light";
  font-size: 1.5rem;
  max-width: 60%;
  color: #fff;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

h1 a:hover {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #D3D3D3;
  text-decoration: none;
}

.blockquote {
  font-family: Lora;
  font-size: 2rem;
  color: #fff;
  text-align:left;
}


}

/* Desktop and Laptops ----------- */
@media screen and (min-width: 800px) {
/* Desktop styles go here */

#left-field {
  padding: 20px 0 0 20px;
}

h1 {
  font-family: "Lora-Bold";
  font-size: 70px;
  color: #D2D2D2;
}


.blockquote {
  font-family: Lora;
  font-size: 1.88rem;
  color: #fff;
  text-align:left;
  font-family: 'Roboto', sans-serif;
}


.bg { 
    /* The image used */
    background-image: url("Sudha-Murthy.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

}
